.full{
    width: 100%;
    background: #ddd;
    height: 30px;
}

.progress p{
    padding-top: 7px;
    padding-right: 10px;
    text-align: right;
    color: rgb(160, 160, 160);
}

.lima-puluh{
    width: 50%;
    background: rgb(255, 255, 43);
    height: 30px;
    animation: progress 1s ease-in 1;
}

.tiga-puluh{
    width: 30%;
    background: rgba(236, 48, 35, 0.925);
    height: 30px;
    animation: progress 1s ease-in;
}

.delapan-puluh{
    width: 80%;
    background: rgb(39, 214, 54);
    height: 30px;
    animation: progress 1s ease-in;
}

.sembilan-puluh{
    width: 90%;
    background: rgb(24, 122, 202);
    height: 30px;
    animation: progress 1s ease-in;
}


@keyframes progress{
    0%{transform: translateX(0)}
    20%{width:100%}
}
